:root {
  --primary-color: #505e69;
}

body {
  min-width: 100%;
}

body > .row {
  margin: 0;
}

body > .row > * {
  margin-bottom: 0;
}

.button {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.logo-holder {
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

a.logo-holder:hover {
  opacity: 1;
}

.logo {
  margin-right: 1rem;
}

.wordmark > * {
  margin: 0;
}

.wordmark h1 {
  font-size: 1.6em;
}

h1 {
  margin-bottom: 0;
}

h1 small {
  font-size: 0.5em;
  padding: 0 10px;
}

.main-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 3rem var(--grid-gutter);
  text-align: left;
}

.main-nav small {
  text-transform: uppercase;
  margin-top: 1rem;
}

.main-nav a,
.credits {
  line-height: 2;
}

.icons > * {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.icons svg.icon,
.icon svg,
.icon img {
  width: 24px;
  height: 24px;
}

.icon a {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.icon kbd {
  font-size: 0.75em;
  margin-left: 5px;
  color: var(--primary-color);
}

pre {
  font-size: 0.9em;
}

#footer {
  margin-top: 3rem;
  font-size: 1.4rem;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: rgb(242, 243, 245);
  padding: var(--grid-gutter);
  overflow: auto;
}

#main {
  width: calc(100% - 300px);
  margin-left: 300px;
}

#main > .container {
  padding-top: var(--grid-gutter);
  padding-bottom: var(--grid-gutter);
}
