nav.main-nav
  a(href="/") Get started
  small icons
  a(href="/entypo") &rdsh; Entypo
  a(href="/feather") &rdsh; Feather
  a(href="/fontawesome") &rdsh; Font Awesome
  a(href="/material") &rdsh; Material
  a(href="/octicons") &rdsh; Octicons
  a(href="/simple") &rdsh; Simple
